body {
  @include body-font;
  background-color: #ededed;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.btn-orange {
  color: #fff;
  background-color: $orange;
  border-color: $orange;
}
.btn-orange:hover {
  background-color: $darkOrange;
  border-color: $darkOrange;
}

.icon {
  color: $blue;
  transition: font-size 200ms;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration:none;
  color:$dark;
}

.bg-quarter-light {
  background: $gray-100;
}

.bg-half-light {
  background: $gray-200;
}

.bg-third-light {
  background: $gray-300;
}

.bg-white {
  background: $white;
}

.bg-fifth-light {
  background: #ededed;
}
.customers-text {
  text-align: center;
}

.shadow {
  -webkit-box-shadow: 0 0 5px $gray-400;
  -moz-box-shadow: 0 0 5px $gray-400;
  box-shadow: 0 0 5px $gray-400;
}

.customer-img-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.customer-img{
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -ms-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
  width: 50%;
}

.customer-img:hover{
  width: 55%;
}

.hidden {
  display: none;
}

.mbp {
  position: absolute;
  right: 55px;
  top: 95px;
  opacity: 0.75;
  transform: rotate(45deg);
}

@media (max-width: 991px) {
  .mbp{
    display: none;
  }
}